{% extends 'base.html' %}
{% block content %}
<div class="container py-5">
    <h1 class="text-center mb-4">Add Products to Transaction</h1>
    <form method="POST">
        {% csrf_token %}
        <div class="mb-3">
            <label for="products" class="form-label">Select Products</label>
            <select multiple class="form-control" name="products">
                {% for product in products %}
                <option value="{{ product.id }}">{{ product.name }}</option>
                {% endfor %}
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Add Products</button>
    </form>
</div>
{% endblock content %}