{% extends 'base.html' %}

{% block content %}
<!-- Services Section -->
<section class="services-section py-5">
    <div class="container">
        <h1 class="text-center mb-4">Our Laundry Services</h1>
        <h6 class="mb 4"><small>At Crisp Care, we understand the importance of clean and well-maintained clothes in your daily life. 
            That's why we offer a comprehensive range of professional laundry services tailored to meet your needs. From everyday wash and fold to specialized dry cleaning, we've got you covered. Here's what you can expect from our services:</small>

        <div class="row">
            <div class="col-md-6">
                <div class="service-box p-4 mb-4 bg-light rounded-3">
                    <h2>Wash & Fold</h2>
                    <img src="https://img.freepik.com/premium-vector/dry-cleaning-store-service-with-washing-machines-laundry-clean-clothing-flat-illustration_2175-8540.jpg?w=2000" alt="Wash & Fold" class="img-fluid mb-3">
                    <p><small>Our standard wash and fold service ensure your clothes are cleaned and folded perfectly, making it ideal for your everyday laundry needs. 
                        With convenient drop-off and pick-up options, professional laundering using high-quality detergents, and quick turnaround times, we make laundry day hassle-free. We use eco-friendly detergents. </small></p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="service-box p-4 mb-4 bg-light rounded-3">
                    <h2>Dry Cleaning</h2>
                    <img src="https://img.freepik.com/premium-vector/industrial-domestic-launderette-washing-cleaning-service-worker-female-character-public-dry-cleaning-laundry-loading-dirty-clothing-laundromat-machine-cartoon-vector-illustration_1016-9042.jpg" alt="Dry Cleaning" class="img-fluid mb-3">
                    <p><small>For your delicate and special garments, our dry cleaning service is the perfect choice.
                         We use advanced techniques and premium cleaning agents to keep your clothes in pristine condition, ensuring they look as good as new after every clean. Choose from our premium dry cleaning solvents.
                        </small></p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="service-box p-4 mb-4 bg-light rounded-3">
                    <h2>Pickup & Delivery</h2>
                    <img src="https://img.freepik.com/premium-vector/illustration-truck-free-fast-delivering-washing-machine-customer-blue-background_117177-211.jpg" alt="Pickup & Delivery" class="img-fluid mb-3">
                    <p><small>Save time and effort with our convenient pickup and delivery services. Simply schedule a pickup online, and we'll take care of the rest. 
                        Whether you're busy at work or managing a busy household, our pickup and delivery service offers the ultimate convenience.</small></p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="service-box p-4 mb-4 bg-light rounded-3">
                    <h2>Special Requests</h2>
                    <img src="https://t3.ftcdn.net/jpg/04/19/74/44/360_F_419744414_abSOD5xQHPLY1pNHUSMIXD2xw936ebW5.jpg" alt="Special Requests" class="img-fluid mb-3">
                    <p><small> specific laundry requests? No problem! We handle special requests, including stain removal, alterations, and more.
                         Just let us know your requirements, and we'll ensure your laundry receives the personalized care it deserves. We use specialized detergents.</small></p>
                </div>
            </div>
        </div>
        <h6 class="mb-4"><i>At Crisp Care Laundry, customer satisfaction is our top priority. With our attention to detail, exceptional service, and competitive pricing, we strive to make your laundry experience as seamless and enjoyable as possible. Contact us today to experience the difference with Crisp Care Laundry!</i></h6>
    </div>
</section>
{% endblock content %}